/* .App {
  text-align: center;
} */

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: rgb(14, 151, 185);
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#tab-body {
  margin-left: 10px;
}

#test_instructions {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size:15px;
}

#test2-container {
  margin:15px;
}

#test3-container {
  text-align: center;
}

#test4-container {
  padding: 20px;
  z-index:9999;
  position: relative;
}

#test4-sticky-header{
    background: rgba(255,255,255,255);
    z-index: 2;
    position:relative;
}

.timer {
  position: relative;
  float:right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
